# CAO Points 2020 - Excel

http://www.cao.ie/index.php?page=points&p=2020

In [1]:
# Import pandas for data frames
import pandas as pd

# Dates and times
import datetime as dt

# For downloading
import urllib.request as urlrq

In [2]:
# To save the original file to disk

# Get the current date and time
now = dt.datetime.now()

# Format as a string
nowstr = now.strftime('%Y%m%d_%H%M%S')

# Create a file path for the original data
path = 'data/cao2020_' + nowstr + '.xlsx'

# Save original file to disk
urlrq.urlretrieve('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', path)

('data/cao2020_20211101_195252.xlsx',
 <http.client.HTTPMessage at 0x17d51349850>)

In [3]:
# Download and parse the excel spreadsheet to a data frame

# Excel file contains a lot of unnecessary data like the header part (rows 1 - 9)
# Can be manually removed (and save file locally) or use pandas to remove unnecessary content
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

# skiprows: Line numbers to skip (0-indexed) or number of lines to skip (int) at the start of the file. 

df = pd.read_excel('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', skiprows=10)

In [4]:
df

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# To spotcheck row 765 on excel = 753 in data frame
# (removed first 10, ignore header row, data frame starts counting from 0 rather than 1 in Excel)

df.iloc[753]

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Road Transport Technology and Management
COURSE CODE2                                                           LC286
R1 POINTS                                                                264
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      264
EOS Random *                                                             NaN
EOS Mid-point                                                            360
LEVEL                                                                      7
HEI                                         Limerick Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 753, dtype: object

In [6]:
# To spotcheck very last row
df.iloc[-1]

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Mechanical and Manufacturing Engineering
COURSE CODE2                                                           WD230
R1 POINTS                                                                253
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      253
EOS Random *                                                             NaN
EOS Mid-point                                                            369
LEVEL                                                                      8
HEI                                        Waterford Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 1463, dtype: object

In [7]:
# Create a file path for the pandas data
pathpd = 'data/cao2020_' + nowstr + '.csv'

In [10]:
#Save pandas data frame to disk

df.to_csv(pathpd)